.skills-box {
  width: 100%;
  height: 450px;
  background-color: #596870;
}
.skills-box.xs { height: 900px; }
.skills-box.xxs { height: 900px; }

.skills-title {
  position: relative;
  top: 60px;
  left: 10%;
  width: 200px;
  color: #f7f7f7;
  font-size: 35px;
}
.skills-title.xs { top: 30px; }
.skills-title.xxs { top: 30px; }

.skills-content {
  position: relative;
  width: 90%;
  height: max-content;
  top: 60px;
  left: 10%;
  color: #f7f7f7;
}
.skills-content.xs { top: 20px; left: 25%; width: 70%; }
.skills-content.xxs { top: 20px; left: 25%; width: 70%; } 

.skills-header {
  height: 30px;
  border-bottom: 1px solid #f7f7f7; 
}
.skills-header.l { font-size: 24px; }
.skills-header.m { font-size: 22px; }
.skills-header.s { font-size: 20px; }
.skills-header.xs { font-size: 23px; }
.skills-header.xxs { font-size: 23px; }

.skills-list {
  position: relative;
  float: left;
  top: 40px;
  padding: 0px 15% 50px 0px;
  font-size: 20px;
}
.skills-list.l { font-size: 22px; padding-right: 16%; }
.skills-list.m { font-size: 17px; padding-right: 11%; }
.skills-list.s { font-size: 15px; padding-right: 8%; }
.skills-list.xs { font-size: 20px; padding-right: 30%; }
.skills-list.xxs { font-size: 20px; padding-right: 30%; }

.skills-list > p {
  margin: 8px 0px;
}