.about-box {
  width: 100%;
  height: 530px;
  background-color: #d6e1ed;
}
.about-box.xs { height: 760px; }
.about-box.xxs { height: 825px; }

/* .about-imgWrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 530px;
}
.about-imgWrapper.xs { height: 760px; }
.about-imgWrapper.xxs { height: 825px; } */

/* .about-background {
  position: absolute;
  width: 100%;
  height: 530px;
  filter: blur(3px);
  transform: scale(1.3);
}
.about-background.xs { height: 760px; }
.about-background.xxs { height: 825px; } */

/* .about-backgroundMask {
  position: absolute;
  width: 100%;
  height: 530px;
  background-color: black;
  opacity: 0.27;
}
.about-backgroundMask.xs { height: 760px; }
.about-backgroundMask.xxs { height: 825px; } */

.about-content {
  position: relative;
  width: calc(90% - 40px);
  top: 60px;
  left: 10%;
  color: #f7f7f7;
}
/* .about-content.l { top: 40px; } */
.about-content.m { top: 40px; }
.about-content.s { top: 35px; }
.about-content.xs { top: 20px; }
.about-content.xxs { top: 20px; }

.about-title {
  font-size: 35px;
  color: #332d4c;
}

.about-description { 
  color: #332d4c;
}
.about-description.xl { font-size: 28px; }
.about-description.l { font-size: 25px; }
.about-description.m { font-size: 20px; }
.about-description.s { font-size: 18px; }
.about-description.xs { font-size: 18px; }
.about-description.xxs { font-size: 16px; }