.header-jumpButtonMenu {
  position: absolute;
  width: 200px;
}

.material-icons.menu {
  color: #f7f7f7;
  padding: 10px;
  cursor: pointer;
}

.material-icons.menu:hover {
  color: #ededed;
}

.jumpMenu-dropDownMenu {
  width: 145px;
  height: 0px;
  margin-left: 10px;
  background-color: #f7f7f7;
  border: 1px solid #778c97;
  transition-duration: 250ms;
  overflow: hidden;
}

.jumpMenu-dropDownMenu.open {
  height: 140px;
  border: 1px solid black;
}

.jumpMenu-menuButton {
  text-align: center;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}

.jumpMenu-menuButton:hover {
  background-color: #778c97;
  color: #f7f7f7;
}