.experience-box {
  width: 100%;
  height: 900px;
}

.experience-background {
  position: absolute;
  width: 100%;
  height: 900px;
  background-image: url(../../images/iceland2.JPG);
  background-size: cover;
  background-position: center 30%;
  filter: blur(3px);
}

.experience-backgroundMask {
  position: absolute;
  width: 100%;
  height: 900px;
  background-color: black;
  opacity: 0.15;
}

.experience-content {
  position: relative;
  top: 60px;
  left: 10%;
  width: 90%;
  height: max-content;
  padding-bottom: 60px;
  color: #f7f7f7;
}

.experience-title {
  position: relative;
  left: 10%;
  top: 60px;
  width: 200px;
  color: #f7f7f7;
  font-size: 35px;
}

.experience-item {
  width: 80%;
  margin-top: 30px;
}

.experience-header {
  width: max-content;
  font-size: 28px;
  border-bottom: solid #f7f7f7 
}

.experience-discription {
  padding-top: 10px;
  font-size: 20px;
}