.experience-box {
  width: 100%;
  height: 1080px;
}
.experience-box.l { height: 1000px; }
.experience-box.xs { height: 1300px; }
.experience-box.xxs { height: 1500px; }

.experience-imgWraper {
  position: absolute;
  height: 1080px;
  width: 100%;
  overflow: hidden;
}
.experience-imgWraper.l { height: 1000px; }
.experience-imgWraper.xs { height: 1300px; }
.experience-imgWraper.xxs { height: 1500px; }
 
.experience-background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  transform: scale(1.1) 
}
.experience-background.l { height: 1000px; }
.experience-background.xs { height: 1300px; }
.experience-background.xxs { height: 1500px; }

.experience-backgroundMask {
  position: absolute;
  width: 100%;
  height: 1080px;
  background-color: black;
  opacity: 0.25;
}
.experience-backgroundMask.l { height: 1000px; }
.experience-backgroundMask.s { opacity: 0.25; }
.experience-backgroundMask.xs { height: 1300px; opacity: 0.25; }
.experience-backgroundMask.xxs { height: 1500px; opacity: 0.25; }

.experience-title {
  position: relative;
  left: 10%;
  top: 60px;
  width: 200px;
  color: #f7f7f7;
  font-size: 35px;
}
.experience-title.l { top: 40px; }
.experience-title.m { top: 40px; }
.experience-title.s { top: 20px; }
.experience-title.xs { top: 20px; }
.experience-title.xxs { top: 20px; }

.experience-content {
  position: relative;
  top: 60px;
  left: 10%;
  width: 90%;
  height: max-content;
  padding-bottom: 60px;
  color: #f7f7f7;
}
.experience-content.l { top: 40px; }
.experience-content.m { top: 30px; }
.experience-content.s { top: 30px; }
.experience-content.xs { top: 20px; padding-bottom: 30px; }
.experience-content.xxs { top: 20px; padding-bottom: 30px; }

.experience-content a {
  color: #a7cbea;
  text-decoration: underline;
}
.experience-content a:hover { color: #c0e2ff; }

.experience-content u {
  font-weight: bold;
  text-decoration: none;
  color: #9fa7cd;
}

.experience-item {
  width: 80%;
  margin-top: 30px;
}

.experience-header {
  width: max-content;
  display: inline-block;
  font-size: 28px;
  border-bottom: solid #f7f7f7 
}
.experience-header.m { font-size: 23px; }
.experience-header.s { font-size: 21px; }
.experience-header.xs { font-size: 20px; }
.experience-header.xxs { font-size: 20px; }

.no-ul {
  border-bottom: none !important;
}

.experience-discription {
  padding-top: 10px;
  font-size: 23px;
}
.experience-discription.l { font-size: 21px; }
.experience-discription.m { font-size: 18px; }
.experience-discription.s { font-size: 16px; }
.experience-discription.xs { font-size: 15px; }
.experience-discription.xxs { font-size: 14px; }
