.picture-box {
  width: 100%;
  background: linear-gradient(#bdcbd6, #778c97);
}
.picture-box.xl { height: 800px }
.picture-box.l { height: 600px; }
.picture-box.m { height: 350px; }
.picture-box.s { height: 250px; }
.picture-box.xs { height: 530px; }
.picture-box.xxs { height: 530px; }

.picture {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.picture-quote {
  position: relative;
  color: #f7f7f7;
  padding-left: 30px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
}
.picture-quote.xl { width: calc(100% - 1100px); top: 200px; padding-left: 40px; font-size: 40px; }
.picture-quote.l { width: calc(100% - 860px); top: 200px; padding-left: 30px; font-size: 30px; }
.picture-quote.m { width: calc(100% - 517px); top: 90px; padding-left: 20px; font-size: 22px; }
.picture-quote.s { width: calc(100% - 383px); top: 60px; padding-left: 20px; font-size: 16px; }
.picture-quote.xs { width: calc(100% - 60px); top: 20px; padding-left: 30px; font-size: 19px; }
.picture-quote.xxs { width: calc(100% - 60px); top: 20px; padding-left: 30px; font-size: 19px; }

.picure-author {
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.picture-quote.changing {
  opacity: 0;
}

#picture-iceland {
  float: right;
  background-image: url(../../images/iceland0.jpg);
}
#picture-iceland.xl { height: 800px; width: 1040px }
#picture-iceland.l { height: 600px; width: 800px; }
#picture-iceland.m { height: 350px; width: 467px; }
#picture-iceland.s { height: 250px; width: 333px; }
#picture-iceland.xs { height: 350px; width: 100%; }
#picture-iceland.xxs { height: 350px; width: 100%; }
